In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
data = pd.read_csv("D19it153_camera_dataset.csv")

In [2]:
data.head()

,Model,Release date,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Zoom tele (T),Normal focus range,Macro focus range,Storage included,Weight (inc. batteries),Dimensions,Price
0,Agfa ePhoto 1280,1997,1024,640,0,38,114,70,40.0,4.0,420.0,95.0,179
1,Agfa ePhoto 1680,1998,1280,640,1,38,114,50,0.0,4.0,420.0,158.0,179
2,Agfa ePhoto CL18,2000,640,0,0,45,45,0,0.0,2.0,0.0,0.0,179
3,Agfa ePhoto CL30,1999,1152,640,0,35,35,0,0.0,4.0,0.0,0.0,269
4,Agfa ePhoto CL30 Clik!,1999,1152,640,0,43,43,50,0.0,40.0,300.0,128.0,1299

In [3]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1038 entries, 0 to 1037
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Model                    1038 non-null   object
 1   Release date             1038 non-null   int64
 2   Max resolution           1038 non-null   int64
 3   Low resolution           1038 non-null   int64
 4   Effective pixels         1038 non-null   int64
 5   Zoom wide (W)            1038 non-null   int64
 6   Zoom tele (T)            1038 non-null   int64
 7   Normal focus range       1038 non-null   int64
 8   Macro focus range        1037 non-null   float64
 9   Storage included         1036 non-null   float64
 10  Weight (inc. batteries)  1036 non-null   float64
 11  Dimensions               1036 non-null   float64
 12  Price                    1038 non-null   int64
dtypes: float64(4), int64(8), object(1)
memory usage: 105.5+ KB

In [4]:
from sklearn.preprocessing import LabelEncoder , OneHotEncoder
data['Model'].value_counts()

Ricoh GR Digital            1
Sony DSC-T200               1
Kodak DC3400                1
Kodak CX7300                1
Nikon Coolpix 950           1
                           ..
Casio QV-2100               1
Nikon Coolpix S4            1
Canon PowerShot SD800 IS    1
Pentax Optio S              1
Kodak Z612                  1
Name: Model, Length: 1038, dtype: int64

In [6]:
le = LabelEncoder()
data['Model'] = le.fit_transform(data['Model'])

data['Model'].value_counts()

0       1
713     1
683     1
684     1
685     1
       ..
351     1
352     1
353     1
354     1
1037    1
Name: Model, Length: 1038, dtype: int64

le.classes_

#onehot encoding..

In [8]:
data['Model'].value_counts()

0       1
713     1
683     1
684     1
685     1
       ..
351     1
352     1
353     1
354     1
1037    1
Name: Model, Length: 1038, dtype: int64

In [9]:

one_hot = OneHotEncoder()
transformed_data = one_hot.fit_transform(data['Model'].values.reshape(-1,1)).toarray()

In [10]:
one_hot.categories_

[array([   0,    1,    2, ..., 1035, 1036, 1037], dtype=int64)]

In [14]:

transformed_data

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [18]:
data

,Model,Release date,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Zoom tele (T),Normal focus range,Macro focus range,Storage included,Weight (inc. batteries),Dimensions,Price
0,0,1997,1024,640,0,38,114,70,40.0,4.0,420.0,95.0,179
1,1,1998,1280,640,1,38,114,50,0.0,4.0,420.0,158.0,179
2,2,2000,640,0,0,45,45,0,0.0,2.0,0.0,0.0,179
3,3,1999,1152,640,0,35,35,0,0.0,4.0,0.0,0.0,269
4,4,1999,1152,640,0,43,43,50,0.0,40.0,300.0,128.0,1299
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1033,1033,2001,2048,1024,3,38,114,10,10.0,8.0,320.0,120.0,62
1034,1034,2000,2048,1024,3,35,105,80,9.0,16.0,390.0,116.0,62
1035,1035,2001,2048,1024,3,35,98,80,10.0,8.0,340.0,107.0,62
1036,1036,2001,2400,1200,3,35,98,80,10.0,16.0,340.0,107.0,62
1037,1037,2002,1600,800,1,38,38,40,20.0,8.0,180.0,86.0,129

In [19]:
#Normalization


from sklearn.preprocessing import StandardScaler , MinMaxScaler

In [20]:

import warnings
warnings.filterwarnings('ignore')

In [21]:
normalizer = MinMaxScaler()

In [23]:
data.dropna(axis = 1 , inplace = True)

In [25]:

normalized_data = normalizer.fit_transform(data)

In [26]:
pd.DataFrame(normalized_data , columns = data.columns)

,Model,Release date,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Zoom tele (T),Normal focus range,Price
0,0.000000,0.230769,0.182336,0.128205,0.000000,0.730769,0.220077,0.583333,0.020664
1,0.000964,0.307692,0.227920,0.128205,0.047619,0.730769,0.220077,0.416667,0.020664
2,0.001929,0.461538,0.113960,0.000000,0.000000,0.865385,0.086873,0.000000,0.020664
3,0.002893,0.384615,0.205128,0.128205,0.000000,0.673077,0.067568,0.000000,0.031935
4,0.003857,0.384615,0.205128,0.128205,0.000000,0.826923,0.083012,0.416667,0.160927
...,...,...,...,...,...,...,...,...,...
1033,0.996143,0.538462,0.364672,0.205128,0.142857,0.730769,0.220077,0.083333,0.006011
1034,0.997107,0.461538,0.364672,0.205128,0.142857,0.673077,0.202703,0.666667,0.006011
1035,0.998071,0.538462,0.364672,0.205128,0.142857,0.673077,0.189189,0.666667,0.006011
1036,0.999036,0.538462,0.427350,0.240385,0.142857,0.673077,0.189189,0.666667,0.006011
1037,1.000000,0.615385,0.284900,0.160256,0.047619,0.730769,0.073359,0.333333,0.014402

In [29]:
#Standardization

standard_scaler = StandardScaler()
standardized_data = standard_scaler.fit_transform(data)
pd.DataFrame(standardized_data , columns =data.columns)

,Model,Release date,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Zoom tele (T),Normal focus range,Price
0,-1.730383,-2.419937,-1.910923,-1.365370,-1.616907,0.487657,-0.080559,1.071454,-0.366254
1,-1.727046,-2.052755,-1.573702,-1.365370,-1.265125,0.487657,-0.080559,0.242621,-0.366254
2,-1.723708,-1.318390,-2.416753,-2.135992,-1.616907,1.165415,-0.819235,-1.829460,-0.366254
3,-1.720371,-1.685572,-1.742312,-1.365370,-1.616907,0.197190,-0.926289,-1.829460,-0.247846
4,-1.717034,-1.685572,-1.742312,-1.365370,-1.616907,0.971770,-0.840646,0.242621,1.107263
...,...,...,...,...,...,...,...,...,...
1033,1.717034,-0.951208,-0.562041,-0.902996,-0.561562,0.487657,-0.080559,-1.415044,-0.520183
1034,1.720371,-1.318390,-0.562041,-0.902996,-0.561562,0.197190,-0.176908,1.485870,-0.520183
1035,1.723708,-0.951208,-0.562041,-0.902996,-0.561562,0.197190,-0.251846,1.485870,-0.520183
1036,1.727046,-0.951208,-0.098364,-0.691075,-0.561562,0.197190,-0.251846,1.485870,-0.520183
1037,1.730383,-0.584025,-1.152177,-1.172714,-1.265125,0.487657,-0.894173,-0.171795,-0.432036

In [31]:
data.isnull().sum()

Model                 0
Release date          0
Max resolution        0
Low resolution        0
Effective pixels      0
Zoom wide (W)         0
Zoom tele (T)         0
Normal focus range    0
Price                 0
dtype: int64

In [32]:
#Discretization
from sklearn.preprocessing import KBinsDiscretizer
data.head()

,Model,Release date,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Zoom tele (T),Normal focus range,Price
0,0,1997,1024,640,0,38,114,70,179
1,1,1998,1280,640,1,38,114,50,179
2,2,2000,640,0,0,45,45,0,179
3,3,1999,1152,640,0,35,35,0,269
4,4,1999,1152,640,0,43,43,50,1299

In [33]:

#KMeans Discretization Transform

trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='kmeans')
new_data = trans.fit_transform(data)

pd.DataFrame(new_data,columns = data.columns )

,Model,Release date,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Zoom tele (T),Normal focus range,Price
0,0.0,2.0,1.0,1.0,0.0,5.0,2.0,5.0,0.0
1,0.0,3.0,2.0,1.0,1.0,5.0,2.0,4.0,0.0
2,0.0,4.0,1.0,0.0,0.0,7.0,0.0,0.0,0.0
3,0.0,3.0,2.0,1.0,0.0,4.0,0.0,0.0,0.0
4,0.0,3.0,2.0,1.0,0.0,7.0,0.0,4.0,3.0
...,...,...,...,...,...,...,...,...,...
1033,9.0,5.0,3.0,2.0,2.0,5.0,2.0,0.0,0.0
1034,9.0,4.0,3.0,2.0,2.0,4.0,2.0,6.0,0.0
1035,9.0,5.0,3.0,2.0,2.0,4.0,2.0,6.0,0.0
1036,9.0,5.0,4.0,2.0,2.0,4.0,2.0,6.0,0.0
1037,9.0,6.0,2.0,1.0,1.0,5.0,0.0,3.0,0.0